<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lesson 0 - Show a window.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Lesson 1 - Shaders and the First Triangle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Lesson 2 - Transforming.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Lesson 3 - Interpolation_Indexed Draws_Projections.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Lesson 4 - Camera.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Lesson 5 - Textures.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Lesson 6 - Phong Lighting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Lesson 7 - Model Importing.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D82C8CE321F6162700119077</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D82D555E21F8D7FE00B02339</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D82D558E21FB7F1A00B02339</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D85ACCA021F810C600669B77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D89A4AFC218D651D00F6EA35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8BAF44121F01AF300E39F4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8BAF46121F2C20100E39F4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
